.link-item {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 3rem;
  width: 80%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: left;
  padding: 20px;
}

.link-item .number {
  color: darkblue;
  font-size: 12px;
}

.link-item .a-link-desc {
  color: coral;
  font-size: 14px;
}

.a-link-desc-url {
  text-decoration: none;
  padding-left: 3.5%;
  color: coral;
  font-size: 14px;
  word-wrap: break-word;
}

.link-item .a-link {
  padding-left: 10%;
  text-decoration: none;
  font-size: 14px;
  color: seagreen;
}

.link-item .desc-title {
  color: darkslategrey;
  font-size: 16px;
  width: 10px;
}

.link-item .desc {
  color: darkcyan;
  font-size: 16px;
}

.link-item .desc-info {
  color: darkcyan;
  font-size: 12px;
}

.link-item .desc-tag {
  color: #33226e;
  font-size: 12px;
  margin-bottom: 40px;
}
.link-item .desc-tag-title {
  color: darkslategrey;
  font-size: 16px;
}
